//Google Fonts
@import url(https://fonts.googleapis.com/css?family=Imprima);

@import url(https://fonts.googleapis.com/css?family=Cantata+One);

* {
  box-sizing: border-box; 
 }

body {
	background-color: white;
	color: #A9A9A9;
	font-family: Imprima, Helvetica Neue, arial, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 16px;
}


h1 {
	font-family: 'Cantata One', serif;
	margin: 1em;
	color: #063457;
}

h3 {
	margin: 1em;
	color: #DB9393
	}

p { 
	margin: 1em; 
}

.menu_main {
		padding: 0;
		margin: 0;
		
		text-align: right;
	
		ul {
			padding: 0;
			list-style-type: none;
		}
			li {
				font-size: 1.5em;
				text-align: center;
				text-transform:uppercase;
				
					@media (min-width: 645px) {
  						display: inline-block;
  						font-size: 1.2em;
  						padding: 0 1em;
  							:hover {
								color: #FF7D7B;
								border-bottom: 1px solid #FF7D7B;
							}
					}
					@media (min-width: 720px) {
  						display: inline-block;
  						font-size: 1em;
  						padding: 0 .5em;
  						:hover {
								color: #FF7D7B;
								border-bottom: 1px solid #FF7D7B;
							}
					}
					
					@media (min-width: 900px) {
  						font-size: 1.2em;
  						padding: 0 2em;
  						:hover {
								color: #FF7D7B;
								
								border-bottom: 1px solid #FF7D7B;
							}
					}

				
			a {
				text-decoration: none;
				color: #45264D;
			}

			:hover {
				color: #FF7D7B;
				padding-bottom: .7em;
			}

			}
		
	}

section {
	.hero {
		background-image: url(../img/siberian-in-snow.jpg);
  		height: 500px;
  		margin: 0 auto;
  		padding: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	  h2 {
	  	color: white;
	  	text-align: center;
	  	padding-top: 25%;
	  	margin-left: 1em;
	  }
	}
}



.col {
	@media (min-width: 768px) {
		float: left;
		width: 25%;
		margin: 0 1em;
		display: inline-block;
	  }
	padding: 0;
}

.primary-content {
	width: 35%;
	float: left;
	vertical-align: top;
	margin: 1em;
	

}

.secondary-content {
	width: 60%;
	float: left;
	p {
	  margin: 1em;
	  }
}


article {

	padding: 1em;
	margin: 1em;
	

}