//Google Fonts
@import url(https://fonts.googleapis.com/css?family=Imprima);

@import url(https://fonts.googleapis.com/css?family=Cantata+One);

* {
  box-sizing: border-box; 
 }


header {
	@media (max-width: 768px) {
  				padding-right: 0;
  				margin-right: 0;
			}	
			min-height: 75px;

}

body {
	background-color: white;
	color: #A9A9A9;
	font-family: Imprima, Helvetica Neue, arial, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 16px;
}



h1 {
	font-family: 'Cantata One', serif;
	margin: 1em 1em;
	padding: 0;
	color: #063457;
	display: inline-block;
	float: left;
	font-size: 1.5em;

	@media (max-width: 768px) {
  						text-align: center;
  						width: 100%;
  						margin-left: 0;
					}

}


.clear {
	clear: both;
}

h3 {
	margin: 1em;
	color: #DB9393
	}

p { 
	margin: 1em; 
}

.menu_main {
		padding: 0;
		margin: 1em 0;
		text-align: right;
		display: inline-block;
		width: 75%;
	
		ul {
			padding: 0;
			list-style-type: none;
			float: right;
		}
			li {
				font-size: 1.25em;
				float: right;
				text-transform: uppercase;
				padding: 0 1em;

				:hover {	
					color: #FF7D7B;
					border-bottom: 1px solid #FF7D7B;
				}
				
					@media (max-width: 768px) {
  						font-size: 1.2em;
  						text-align: center;
  						float: initial;
  						margin: 0 1em;
  						width: 100%;
					}
				
					@media (max-width: 1020px) {
  						margin: 0 auto;
  						width: 100%;
  						text-align: center;
					}
					

				
			a {
				text-decoration: none;
				color: #45264D;
			}

			:hover {
				color: #FF7D7B;
				padding-bottom: .7em;
			}

			}
		@media (max-width: 768px) {
  				margin: 0 auto;
  						
					}	
		
	}

section {
	.hero {
		background-image: url(../img/siberian-in-snow.jpg);
  		height: 500px;
  		margin: 0 auto;
  		padding: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	  h2 {
	  	color: white;
	  	text-align: center;
	  	padding-top: 25%;
	  	margin-left: 1em;
	  	margin-top: 0;

	  }
	}
}



.col {
	@media (min-width: 768px) {
		float: left;
		width: 25%;
		margin: 0 1em;
		display: inline-block;
	  }
	padding: 0;
}

.primary-content {
	
@media (min-width: 768px) {
		width: 30%;
		float: left;
	}

	vertical-align: top;
	margin: 1em;
	

}

.secondary-content {
		margin: 1em;
	p {
	  margin: 1em;
	  }
	@media (min-width: 768px) {
		width: 55%;
		float: left;
	}


	
}


article {

	padding: 1em;
	margin: 1em;
	

}